<div style="margin: 0 auto; width: 70%; padding: 20px;">
    <h4 style="text-align: center;">the internet is full of ideas...</h4>
    <p style="text-align: center;">We've got a few of our own. </p><br>
</div>

{{#each blogs as |blog| }}
<div class="container" style="border: 1px solid black; padding: 10px; border-radius: 5px; background-color: black; margin: 10px;">
    <div class="row mb-4">
        <div class="col-md-12">
            <h6 style="text-decoration: underline; color: white;">"{{blog.title}}" <em>created by</em> {{blog.user.username}}</h6>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <p style="color: white;">
                {{blog.description}}
            </p>
        </div>
    </div>
</div>
{{/each}}