<div class="row">
    <div class="col-md-5" style="border: 1px solid black; border-radius: 5px; background-color: black; margin: 2%;">
        <h4 style="text-align: center; color: white;">login</h4>

        <form class="form login-form">
            <div class="form-group">
                <label for="email-login" style="color:white;">email:</label>
                <input class="form-input" type="text" id="email-login"/>
            </div>
            <div class="form-group">
                <label for="password-login" style="color:white;">password:</label>
                <input class="form-input" type="password" id="password-login"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" style="width: 100%;">login</button>
            </div>
        </form>
    </div>
    <div class="col-md-5" style="border: 1px solid black; border-radius: 5px; background-color: black; margin: 2%;">
        <h4 style="text-align: center; color: white;">signup</h4>

        <form class="form signup-form">
            <div class="form-group">
                <label for="name-signup" style="color:white;">please enter your full name:</label>
                <input class="form-input" type="text" id="name-signup"/>
            </div>
            <div class="form-group">
                <label for="name-signup" style="color:white;">now enter a super cool username:</label>
                <input class="form-input" type="text" id="username-signup"/>
            </div>
            <div class="form-group">
                <label for="email-signup" style="color:white;">please enter your email address:</label>
                <input class="form-input" type="text" id="email-signup"/>
            </div>
            <div class="form-group">
                <label for="password-signup" style="color:white;">enter a secret password:</label>
                <input class="form-input" type="password" id="password-signup"/>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" style="width: 100%;">signup</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>